.606_40 { 
	overflow:hidden;
}.e606_40 { 
	background-color:rgba(222.00000196695328, 108.00000116229057, 4.000000236555934, 1);
	width:430px;
	height:932px;
	position:absolute;
}.e606_41 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:733px;
	height:809px;
	position:absolute;
	left:-152px;
	top:229px;
}.606_41 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e606_116 { 
	color:rgba(0, 20.866150930523872, 208.66168409585953, 1);
	width:129px;
	height:24px;
	position:absolute;
	left:281px;
	top:894px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e606_115 { 
	color:rgba(0, 20.866150930523872, 208.66168409585953, 1);
	width:106px;
	height:24px;
	position:absolute;
	left:22px;
	top:894px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e606_42 { 
	background-color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:388px;
	height:470px;
	position:absolute;
	left:21px;
	top:212px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}.e606_50 { 
	background-color:rgba(237.4049985408783, 239.22186344861984, 242.24999696016312, 1);
	width:236px;
	height:30px;
	position:absolute;
	left:105px;
	top:370px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e606_43 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:65px;
	position:absolute;
	left:145px;
	top:52px;
	font-family:Inika;
	text-align:center;
	font-size:50px;
	letter-spacing:43;
}.e606_44 { 
	color:rgba(255, 255, 255, 1);
	width:317px;
	height:26px;
	position:absolute;
	left:57px;
	top:135px;
	font-family:JejuHallasan;
	text-align:center;
	font-size:26px;
	letter-spacing:undefined;
}.e606_49 { 
	background-color:rgba(237.4049985408783, 239.22186344861984, 242.24999696016312, 1);
	width:236px;
	height:30px;
	position:absolute;
	left:107px;
	top:431px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}.e606_114 { 
	color:rgba(189.0472885966301, 191.45295470952988, 195.06171226501465, 1);
	width:126px;
	height:23px;
	position:absolute;
	left:113px;
	top:374px;
	font-family:Inter;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e606_57 { 
	width:37px;
	height:32px;
	position:absolute;
	left:58px;
	top:366px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	background-image:url(images/email_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e606_86 { 
	width:30px;
	height:32px;
	position:absolute;
	left:64px;
	top:429px;
	background-image:url(images/padlock_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e605_118 { 
	color:rgba(189.0472885966301, 191.45295470952988, 195.06171226501465, 1);
	width:87px;
	height:23px;
	position:absolute;
	left:113px;
	top:434px;
	font-family:Inter;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e606_137 { 
	background-color:rgba(2.604010719805956, 164.4617262482643, 77.05858066678047, 1);
	width:146px;
	height:39px;
	position:absolute;
	left:72px;
	top:532px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e606_138 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:134px;
	height:39px;
	position:absolute;
	left:78px;
	top:532px;
	font-family:Inika;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}.e606_139 { 
	background-color:rgba(2.604010719805956, 164.4617262482643, 77.05858066678047, 1);
	width:146px;
	height:39px;
	position:absolute;
	left:225px;
	top:532px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e606_140 { 
	color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:134px;
	height:39px;
	position:absolute;
	left:231px;
	top:532px;
	font-family:Inika;
	text-align:center;
	font-size:22px;
	letter-spacing:0;
}