.608_150 { 
	overflow:hidden;
}.e608_150 { 
	background-color:rgba(222.00000196695328, 108.00000116229057, 4.000000236555934, 1);
	width:430px;
	height:932px;
	position:absolute;
}.e608_151 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:65px;
	position:absolute;
	left:146px;
	top:11px;
	font-family:Inika;
	text-align:center;
	font-size:50px;
	letter-spacing:43;
}.e608_152 { 
	color:rgba(255, 255, 255, 1);
	width:425px;
	height:26px;
	position:absolute;
	left:5px;
	top:76px;
	font-family:JejuHallasan;
	text-align:center;
	font-size:26px;
	letter-spacing:undefined;
}.e608_153 { 
	background-color:rgba(255, 255, 255, 1);
	width:486px;
	height:756px;
	position:absolute;
	left:-9px;
	top:127px;
}.e611_12 { 
	box-shadow:0px 4px 15px rgba(0, 0, 0, 0.8500000238418579);
	width:239px;
	height:230px;
	position:absolute;
	left:70px;
	top:292px;
}.e611_13 { 
	box-shadow:0px 4px 20px rgba(0, 0, 0, 0.11999999731779099);
	background-color:rgba(255, 255, 255, 1);
	width:239px;
	height:220px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e611_19 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:169px;
	height:40px;
	position:absolute;
	left:6px;
	top:162px;
	font-family:Rubik;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e611_23 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:239px;
	height:150px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/4847180429ed3ee622ce7b95359aad7b_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e606_144 { 
	box-shadow:0px 4px 15px rgba(0, 0, 0, 0.8500000238418579);
	width:239px;
	height:230px;
	position:absolute;
	left:70px;
	top:570px;
}.e606_145 { 
	box-shadow:0px 4px 20px rgba(0, 0, 0, 0.11999999731779099);
	background-color:rgba(255, 255, 255, 1);
	width:239px;
	height:220px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e606_146 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:233px;
	height:42px;
	position:absolute;
	left:6px;
	top:162px;
	font-family:Rubik;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e606_148 { 
	width:239px;
	height:158px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ultimate_chocolate_mousse_xl_recipe0918_979cde297b8b43e7a189aebafee40b3e_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e611_2 { 
	box-shadow:0px 2px 4.5px rgba(0, 0, 0, 0.6499999761581421);
	color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:141px;
	height:40px;
	position:absolute;
	left:155px;
	top:144px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:37px;
	letter-spacing:8;
}.e611_3 { 
	background-color:rgba(241.6523802280426, 240.0412666797638, 240.0412666797638, 1);
	width:311px;
	height:30px;
	position:absolute;
	left:70px;
	top:199px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e611_7 { 
	color:rgba(189.0472885966301, 191.45295470952988, 195.06171226501465, 1);
	width:61px;
	height:23px;
	position:absolute;
	left:124px;
	top:202px;
	font-family:Inter;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e608_154 { 
	color:rgba(0, 20.866150930523872, 208.66168409585953, 1);
	width:106px;
	height:24px;
	position:absolute;
	left:22px;
	top:890px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e608_155 { 
	color:rgba(0, 20.866150930523872, 208.66168409585953, 1);
	width:129px;
	height:24px;
	position:absolute;
	left:281px;
	top:894px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e611_4 { 
	background-color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:41px;
	height:30px;
	position:absolute;
	left:70px;
	top:199px;
	border-radius:Symbol(figma.mixed)px;
}.e611_11 { 
	width:23px;
	height:20px;
	position:absolute;
	left:79px;
	top:204px;
	background-image:url(images/search_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}