.605_120 { 
	overflow:hidden;
}.e605_120 { 
	background-color:rgba(222.00000196695328, 108.00000116229057, 4.000000236555934, 1);
	width:430px;
	height:932px;
	position:absolute;
}.e605_122 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:65px;
	position:absolute;
	left:146px;
	top:8px;
	font-family:Inika;
	text-align:center;
	font-size:50px;
	letter-spacing:43;
}.e605_138 { 
	background-color:rgba(255, 255, 255, 1);
	width:486px;
	height:757px;
	position:absolute;
	left:-22px;
	top:137px;
}.e605_123 { 
	color:rgba(255, 255, 255, 1);
	width:425px;
	height:26px;
	position:absolute;
	left:3px;
	top:81px;
	font-family:JejuHallasan;
	text-align:center;
	font-size:26px;
	letter-spacing:undefined;
}.e605_147 { 
	box-shadow:0px 4px 15px rgba(0, 0, 0, 0.8500000238418579);
	width:265px;
	height:193px;
	position:absolute;
	left:83px;
	top:281px;
}.e605_148 { 
	box-shadow:0px 4px 20px rgba(0, 0, 0, 0.11999999731779099);
	background-color:rgba(255, 255, 255, 1);
	width:265px;
	height:197.88607788085938px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e606_131 { 
	width:239px;
	height:147px;
	position:absolute;
	left:13px;
	top:11px;
	background-image:url(images/amazing_view_taj_mahal_evening_agra_fabulous_taj_mahal_117930_115_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e605_146 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:30px;
	position:absolute;
	left:80px;
	top:163px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e606_151 { 
	box-shadow:0px 4px 15px rgba(0, 0, 0, 0.8500000238418579);
	width:265px;
	height:193px;
	position:absolute;
	left:84px;
	top:525px;
}.e606_152 { 
	box-shadow:0px 4px 20px rgba(0, 0, 0, 0.11999999731779099);
	background-color:rgba(255, 255, 255, 1);
	width:265px;
	height:197.88607788085938px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e606_154 { 
	color:rgba(0, 0, 0, 1);
	width:104px;
	height:30px;
	position:absolute;
	left:80px;
	top:163px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}.e606_155 { 
	width:241px;
	height:135px;
	position:absolute;
	left:12px;
	top:15px;
	background-image:url(images/campeche_mexico_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e605_135 { 
	color:rgba(0, 20.866150930523872, 208.66168409585953, 1);
	width:106px;
	height:24px;
	position:absolute;
	left:22px;
	top:894px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e605_137 { 
	color:rgba(0, 20.866150930523872, 208.66168409585953, 1);
	width:129px;
	height:24px;
	position:absolute;
	left:281px;
	top:894px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e605_142 { 
	box-shadow:0px 2px 4.5px rgba(0, 0, 0, 0.6499999761581421);
	color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:145px;
	height:40px;
	position:absolute;
	left:143px;
	top:140px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:37px;
	letter-spacing:8;
}.e605_143 { 
	background-color:rgba(241.6523802280426, 240.0412666797638, 240.0412666797638, 1);
	width:311px;
	height:30px;
	position:absolute;
	left:62px;
	top:197px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e611_8 { 
	color:rgba(189.0472885966301, 191.45295470952988, 195.06171226501465, 1);
	width:61px;
	height:23px;
	position:absolute;
	left:116px;
	top:200px;
	font-family:Inter;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e605_144 { 
	background-color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:41px;
	height:30px;
	position:absolute;
	left:62px;
	top:197px;
	border-radius:Symbol(figma.mixed)px;
}.e606_130 { 
	width:21px;
	height:20px;
	position:absolute;
	left:74px;
	top:202px;
	background-image:url(images/search_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}