.605_54 { 
	overflow:hidden;
}.e605_54 { 
	background-color:rgba(222.00000196695328, 108.00000116229057, 4.000000236555934, 1);
	width:430px;
	height:932px;
	position:absolute;
}.e608_84 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:733px;
	height:809px;
	position:absolute;
	left:-150px;
	top:229px;
}.608_84 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e605_57 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:65px;
	position:absolute;
	left:145px;
	top:52px;
	font-family:Inika;
	text-align:center;
	font-size:50px;
	letter-spacing:43;
}.e605_58 { 
	color:rgba(255, 255, 255, 1);
	width:317px;
	height:26px;
	position:absolute;
	left:57px;
	top:135px;
	font-family:JejuHallasan;
	text-align:center;
	font-size:26px;
	letter-spacing:undefined;
}.e605_43 { 
	background-color:rgba(72.18543335795403, 189.96170192956924, 0, 1);
	width:288px;
	height:55px;
	position:absolute;
	left:71px;
	top:323px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e605_56 { 
	background-color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:388px;
	height:540px;
	position:absolute;
	left:22px;
	top:229px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}.e605_45 { 
	color:rgba(255, 255, 255, 1);
	width:240px;
	height:44px;
	position:absolute;
	left:94px;
	top:329px;
	font-family:Inter;
	text-align:center;
	font-size:33px;
	letter-spacing:0;
}.e605_46 { 
	background-color:rgba(3.000000058673322, 164.00000542402267, 77.00000301003456, 1);
	width:288px;
	height:55px;
	position:absolute;
	left:71px;
	top:323px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e606_118 { 
	width:34px;
	height:34px;
	position:absolute;
	left:99px;
	top:334px;
	background-image:url(images/the_world_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e605_47 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:44px;
	position:absolute;
	left:157px;
	top:329px;
	font-family:Inter;
	text-align:center;
	font-size:33px;
	letter-spacing:0;
}.e605_48 { 
	background-color:rgba(3.000000058673322, 164.00000542402267, 77.00000301003456, 1);
	width:288px;
	height:55px;
	position:absolute;
	left:71px;
	top:521px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e605_50 { 
	background-color:rgba(3.000000058673322, 164.00000542402267, 77.00000301003456, 1);
	width:288px;
	height:55px;
	position:absolute;
	left:71px;
	top:422px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e606_125 { 
	width:34px;
	height:34px;
	position:absolute;
	left:96px;
	top:432px;
	background-image:url(images/recipes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e606_121 { 
	width:39.13754653930664px;
	height:32px;
	position:absolute;
	left:96px;
	top:533px;
	background-image:url(images/meal_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e606_119 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:28px;
	position:absolute;
	left:157px;
	top:-330px;
	font-family:Inter;
	text-align:center;
	font-size:33px;
	letter-spacing:0;
}.e605_49 { 
	color:rgba(255, 255, 255, 1);
	width:181px;
	height:18px;
	position:absolute;
	left:-181px;
	top:-2826px;
	font-family:Inter;
	text-align:center;
	font-size:33px;
	letter-spacing:0;
}.e605_51 { 
	color:rgba(255, 255, 255, 1);
	width:172px;
	height:44px;
	position:absolute;
	left:162px;
	top:526px;
	font-family:Inter;
	text-align:center;
	font-size:33px;
	letter-spacing:0;
}.e605_52 { 
	background-color:rgba(3.000000058673322, 164.00000542402267, 77.00000301003456, 1);
	width:288px;
	height:55px;
	position:absolute;
	left:71px;
	top:622px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}.e606_127 { 
	width:30px;
	height:30px;
	position:absolute;
	left:101px;
	top:632px;
	background-image:url(images/filter_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e605_60 { 
	color:rgba(0, 20.866150930523872, 208.66168409585953, 1);
	width:106px;
	height:24px;
	position:absolute;
	left:22px;
	top:895px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e605_74 { 
	color:rgba(0, 20.866150930523872, 208.66168409585953, 1);
	width:129px;
	height:24px;
	position:absolute;
	left:281px;
	top:898px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e606_122 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:44px;
	position:absolute;
	left:157px;
	top:427px;
	font-family:Inter;
	text-align:center;
	font-size:33px;
	letter-spacing:0;
}.e606_128 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:44px;
	position:absolute;
	left:162px;
	top:625px;
	font-family:Inter;
	text-align:center;
	font-size:33px;
	letter-spacing:0;
}