.606_166 { 
	overflow:hidden;
}.e606_166 { 
	background-color:rgba(222.00000196695328, 108.00000116229057, 4.000000236555934, 1);
	width:430px;
	height:932px;
	position:absolute;
}.e606_167 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:65px;
	position:absolute;
	left:146px;
	top:11px;
	font-family:Inika;
	text-align:center;
	font-size:50px;
	letter-spacing:43;
}.e606_168 { 
	color:rgba(255, 255, 255, 1);
	width:425px;
	height:26px;
	position:absolute;
	left:5px;
	top:76px;
	font-family:JejuHallasan;
	text-align:center;
	font-size:26px;
	letter-spacing:undefined;
}.e606_169 { 
	background-color:rgba(255, 255, 255, 1);
	width:486px;
	height:756px;
	position:absolute;
	left:-9px;
	top:127px;
}.e606_170 { 
	box-shadow:0px 4px 15px rgba(0, 0, 0, 0.8500000238418579);
	width:239px;
	height:230px;
	position:absolute;
	left:70px;
	top:292px;
}.e606_171 { 
	box-shadow:0px 4px 20px rgba(0, 0, 0, 0.11999999731779099);
	background-color:rgba(255, 255, 255, 1);
	width:239px;
	height:220px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e606_172 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:169px;
	height:40px;
	position:absolute;
	left:11px;
	top:162px;
	font-family:Rubik;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e606_189 { 
	width:239px;
	height:161px;
	position:absolute;
	left:0px;
	top:1px;
	background-image:url(images/depositphotos_27273879_stock_photo_breakfast_with_croissants_cup_of_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e606_174 { 
	box-shadow:0px 4px 15px rgba(0, 0, 0, 0.8500000238418579);
	width:239px;
	height:230px;
	position:absolute;
	left:70px;
	top:570px;
}.e606_175 { 
	box-shadow:0px 4px 20px rgba(0, 0, 0, 0.11999999731779099);
	background-color:rgba(255, 255, 255, 1);
	width:239px;
	height:220px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e606_176 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:233px;
	height:42px;
	position:absolute;
	left:6px;
	top:162px;
	font-family:Rubik;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}.e606_190 { 
	width:239px;
	height:159.17681884765625px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/people_having_balanced_diet_from_lunch_boxes_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e606_179 { 
	background-color:rgba(241.6523802280426, 240.0412666797638, 240.0412666797638, 1);
	width:311px;
	height:30px;
	position:absolute;
	left:70px;
	top:199px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.e606_180 { 
	color:rgba(189.0472885966301, 191.45295470952988, 195.06171226501465, 1);
	width:61px;
	height:23px;
	position:absolute;
	left:124px;
	top:202px;
	font-family:Inter;
	text-align:center;
	font-size:19px;
	letter-spacing:0;
}.e606_181 { 
	color:rgba(0, 20.866150930523872, 208.66168409585953, 1);
	width:106px;
	height:24px;
	position:absolute;
	left:22px;
	top:890px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e606_182 { 
	color:rgba(0, 20.866150930523872, 208.66168409585953, 1);
	width:129px;
	height:24px;
	position:absolute;
	left:281px;
	top:894px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e606_183 { 
	background-color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:41px;
	height:30px;
	position:absolute;
	left:70px;
	top:199px;
	border-radius:Symbol(figma.mixed)px;
}.e606_184 { 
	width:23px;
	height:20px;
	position:absolute;
	left:79px;
	top:204px;
	background-image:url(images/search_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e606_188 { 
	box-shadow:0px 2px 4.5px rgba(0, 0, 0, 0.6499999761581421);
	width:218px;
	height:40px;
	position:absolute;
	left:102px;
	top:139px;
}.e606_186 { 
	color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:102px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:37px;
	letter-spacing:8;
}.e606_187 { 
	color:rgba(255, 143.37323784828186, 56.737525686621666, 1);
	width:105px;
	height:40px;
	position:absolute;
	left:113px;
	top:0px;
	font-family:jsMath-cmbx10;
	text-align:center;
	font-size:37px;
	letter-spacing:8;
}